################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

/Ensek.Test/Ensek.Test/bin/Debug/netcoreapp3.1
/Ensek.Test/Ensek.Test.Domain/obj
